@import '../../scss/variables';
@import '../../scss/base';

.list-group-item {
    font-size: 0.75rem;
    color: #414142;
    border-top: 1px solid $border-color;

    a {
        padding: 10px;
        display: flex;
        color: inherit;
        text-decoration: none;
        transition: all 0.3s ease-out;

        &.active {
            background: $active-color;
            color: #FFF;

            &:hover {
                background: lighten($active-color, 10%);
            }
        }
  
        &:not(.active) {
            &:hover,
            &:focus {
                background: rgba(100, 100, 100, 0.1);
            }
        }
    }

    &:first-child {
        border-top: 0;
    }

    .thread-img {
        @extend %user-img;
    }

    .thread-text {
        overflow: hidden;

        * {
            line-height: 1rem;
        }
    }
}