@import '../../scss/variables';
@import '../../scss/base';

.chat-view {
    height: 100vh;
    width: 65vw;
    overflow: hidden;
    background: #FFF;
    border-left: 1px solid #CCC;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 3.56rem;
    position: relative;

    @media (max-width: $mobile-view-width) {
        width: 100vw;
    }

    .user-img {
        @extend %user-img;
    }

    > * {
        padding: 0.75rem 1rem;
    }

    .chat-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #CCC;
        min-height: 4.5rem;

        h2 {
            flex-grow: 1;
            text-align: center;
            margin: 0;
        }

        a {
            display: inline-block;
            padding: 0.75rem;
            font-size: 1.5rem;
            line-height: 1rem;
            color: inherit;
            font-weight: 300;
            text-decoration: none;
            color: #666;
            border-radius: 50%;
            transition: all 0.3s ease-out;

            &:focus,
            &:hover,
            &:active {
                background: #eee;
            }

            &:active {
                box-shadow: 0 0 10px #e3e3e3, inset 0 0 5px #ddd;
            }
        }
    }

    .chat-sms-list {
        overflow: scroll;
        display: flex;
        flex-flow: column-reverse;
    }

    .chat-loading {
        padding: 2rem 1rem;
        text-align: center;
    }

    .chat-sms-new {
        padding: 0.6rem 0.75rem;
        display: flex;
        height: 3.56rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #e3e3e3;

        input {
            width: 100%;
            padding: 0.5rem 0.75rem;
            border-radius: 5px;
            box-shadow: none;
            border: 1px solid #CCC;
            font-size: 0.75rem;
        }

        button {
            width: 3rem;
            background: $button-color;
            border: 1px solid $border-color;
            border-radius: 5px;
            margin-left: 0.5rem;
            cursor: pointer;
            font-size: 1rem;
            color: $dark-text-color;

            &:focus,
            &:active {
                outline: none;
            }

            &:active {
                box-shadow: inset 0 0 5px #666;
                background: darken($button-color, 5%);
            }

            &.disabled {
                opacity: 0.65;
                pointer-events: none;

                &:active {
                    box-shadow: none;
                    background: inherit;
                }
            }
        }
    }
}
