body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-user-select: none;
}

img {
    -webkit-user-select: text;
}

form,
input,
optgroup,
select,
textarea {
    -webkit-user-select: text;
    -webkit-app-region:  no-drag;
}

%user-img {
    width: 2rem;
    height: 2rem;
    flex: 0 0 auto;
    margin-right: 10px;
    border-radius: 50%;
}