$border-color: #ddd;
$dark-border-color: #c2c0c2;
$darker-bottom-border-color: #a19fa1;
$toolbar-border-color: #939293;
$primary-color: #3b99fc;
$default-color:  #fff;
$chrome-color: $default-color;
$positive-color: #34c84a;
$negative-color: #fc605b;
$warning-color: #fdbc40;
$dark-color: #57acf5;
$active-color: #116cd6;
$focus-input-color: lighten($primary-color, 10%);

$button-color: #ffcc00;
$dark-text-color: #3a3a3a;
$mobile-view-width: 576px;